<a href="javascript:void(0)" class="link icon-only aurora-icons send_files" data-bind="visible: allowSendThisContact () && $root.bAllowComposeMessageToAddresses && hasEmails(), click: sendThisContact">
	<i class="icon"></i>
</a>
<a href="javascript:void(0)" class="link icon-only aurora-icons new_message" data-bind="makeLinkComposeMailTo: getFullEmail()" style="display: none;">
	<i class="icon"></i>
</a>

<a href="javascript:void(0)" class="link icon-only aurora-icons edit" data-bind="visible: !readOnly(), click: function () { edited(true); }, i18n: {'key': '%MODULENAME%/ACTION_EDIT_CONTACT'}">
	<i class="icon"></i>
</a>