<div class="screen LoginLayout" style="display: none;">
	<div class="views">
		<!-- Your main view, should have "view-main" class -->
		<div class="view contacts-view">
			<div class="pages">
				<div class="page">
					<div class="page-content">
						<div class="content-block">
							<!-- ko if: sCustomLogoUrl === '' --><span class="logo-icon"></span><!-- /ko -->
							<!-- ko if: sCustomLogoUrl !== '' --><img data-bind="attr: {'src': sCustomLogoUrl}"/><!-- /ko -->

							<div class="login-screen-title" data-bind="i18n: {'key': 'COREWEBCLIENT/HEADING_LOGIN'}"></div>
							<form action="#" autocomplete="on" onsubmit="return false;" data-bind="command: loginCommand">
								<div class="list-block">
									<ul>
										<li>
											<div class="item-content" data-bind="css: {'focused': usernameFocus(), 'filled': username().length > 0, shake: shake()}">
												<div class="item-media aurora-icons email"><i class="icon"></i></div>
												<div class="item-inner">
													<div class="item-input">
														<input tabindex="1" name="username" type="text" spellcheck="false"
															data-bind="value: username, hasfocus: usernameFocus, valueUpdate: 'afterkeydown',
															i18n: {'key': 'COREWEBCLIENT/LABEL_LOGIN', 'type': 'placeholder'}, initDom: usernameDom" />
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="item-content">
												<div class="item-media at-sign">@</div>
												<div class="item-inner">
													<div class="item-input">
														<select class="value input" data-bind="visible: domains().length > 0, options: domains, value: selectedDomain"></select>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="item-content" data-bind="css: {'focused': passwordFocus(), 'filled': password().length > 0, shake: shake()}">
												<div class="item-media aurora-icons password"><i class="icon"></i></div>
												<div class="item-inner">
													<div class="item-input">
														<input tabindex="3" class="" name="password" type="password" spellcheck="false"
															data-bind="value: password, hasfocus: passwordFocus, valueUpdate: 'afterkeydown',
															i18n: {'key': 'COREWEBCLIENT/LABEL_PASSWORD', 'type': 'placeholder'}, initDom: passwordDom" />
													</div>
												</div>
											</div>
										</li>
									</ul>	
								</div>

								{%INCLUDE-START/Login-Before-Submit-Button/INCLUDE-END%}
								<!-- ko foreach: beforeButtonsControllers -->
									<!-- ko template: { name: $data.ViewTemplate, data: $data} --><!-- /ko -->
								<!-- /ko -->
								<p>
									<button type="submit" tabindex="5" class="button button-fill login" data-bind="text: signInButtonText, command: loginCommand" id="selenium_login_signin_button"></button>
								</p>

								<div class="row signme" data-bind="visible: bUseSignMe">
									<span>
										<label class="custom_checkbox" data-bind="css: {'checked': signMe, 'focus': signMeFocused}">
											<span class="icon"></span>
											<input id="signme" tabindex="4" type="checkbox" data-bind="checked: signMe, hasfocus: signMeFocused" />
										</label>
										<label class="signme_label" for="signme" data-bind="i18n: {'key': '%MODULENAME%/LABEL_REMEMBER_ME'}"></label>
									</span>
								</div>
								{%INCLUDE-START/Login-After/INCLUDE-END%}
							</form>

					<!--{%INCLUDE-START/Login-Before-Description/INCLUDE-END%}-->
					<div class="description" data-bind="visible: sInfoText !== '', html: sInfoText"></div>
					<!--{%INCLUDE-START/Login-After-Description/INCLUDE-END%}-->
					<div class="clear"></div>

					<div class="description" style="margin-top: 40px;" data-bind="visible: sBottomInfoHtmlText !== '', html: sBottomInfoHtmlText"></div>
				</div>
			</div>

			<!--{%INCLUDE-START/Login-Footer/INCLUDE-END%}-->
		</div>
	</div>
</div>
