<div class="item folder2" data-bind="
		draggablePlace: allowDrag() ? function (file, ctrlOrCmdUsed) { return $parent.dragAndDropHelper(file, ctrlOrCmdUsed); } : null,
		draggableDragStartCallback: function() { if (allowDrag()) $root.dragover(true); },
		draggableDragStopCallback: function() { if (allowDrag()) $root.dragover(false); },
		css: {'selected': selected, 'checked': checked, 'deleted': deleted, 'published': published}"
>
	<div class="item_content ui-droppable dragHandle" data-bind="css: {'recivedAnim': recivedAnim()}, droppable: {valueFunc: function (oEvent, oUi) {$root.filesDrop($data, oEvent, oUi);}}">
		<div class="image">
			<span class="icon"></span>
			<!-- ko if: sharedWithMe -->
			<span class="folder_shared_with_me_icon" data-bind="customTooltip: sHeaderText"></span>
			<!-- /ko -->
		</div>

		<span class="name fadeout" data-bind="text: displayName"></span>
		<div class="file_states">
			<!-- ko if: sharedWithOthers -->
			<span class="file_shared_icon" data-bind="click: function (oItem) { $root.onFileShareIconClick(oItem); }"></span>
			<!-- /ko -->
			<!-- ko if: published -->
			<span class="file_published_icon" data-bind="click: function (oItem) { $root.onShareIconClick(oItem); }"></span>
			<!-- /ko -->
		</div>
		<div class="clearfix"></div>
	</div>
</div>
