<div class="panel_top">
	<h2 class="settings_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_SETTINGS_TAB'}"></h2>
</div>
<div class="panel_center LicensingWebclient">
	<div class="fields">
		<div class="fieldset">
			<div class="hint" data-bind="i18n: {'key': '%MODULENAME%/LABEL_LICENSING_HINT'}"></div>
			<div class="row flex">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_LICENSING_KEY'}"></span>
				<span class="value">
					<textarea class="input" data-bind="value: licenseKey, valueUpdate: 'afterkeydown', onEnter: save"></textarea>
				</span>
			</div>
			<div class="hint" data-bind="visible: showTrialKeyHint, html: sTrialKeyHint"></div>
			<div class="hint" data-bind="visible: sPermanentKeyHint !== '', html: sPermanentKeyHint"></div>
			
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_LICENSING_USERS_NUMBER'}"></span>
				<span class="value">
					<b data-bind="text: usersNumber"></b>
				</span>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_LICENSING_TYPE'}"></span>
				<span class="value">
					<b data-bind="text: licenseType"></b>
				</span>
			</div>
		</div>		

		<div class="buttons">
			<span class="button" data-bind="click: save, visible: !isSaving()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}"></span>
			</span>
			<span class="button" data-bind="visible: isSaving()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}"></span>
			</span>
		</div>
	</div>
</div>