<div class="item folder" 
	data-bind="
		draggablePlace: allowDrag() ? function (file, ctrlOrCmdUsed) { return $parent.dragAndDropHelper(file, ctrlOrCmdUsed); } : null,
		draggableDragStartCallback: function() { if (allowDrag()) $root.dragover(true); },
		draggableDragStopCallback: function() { if (allowDrag()) $root.dragover(false); },
		css: { 'selected': selected, 'checked': checked, 'deleted': deleted,
		'published': published, 'incomplete': isIncomplete, 'readonly': readOnly }">

	<!-- ko if: (sHeaderText.length > 0) -->
	<span class="header" data-bind="text: sHeaderText"></span>
	<!-- /ko -->

	<div class="item_content ui-droppable dragHandle"
		 data-bind="css: {'recivedAnim': recivedAnim()},
					droppable: {valueFunc: allowDrop() ? function (oEvent, oUi) {$root.filesDrop($data, oEvent, oUi);} : null}">
		<div class="image">
			<span class="icon animGoal"></span>
			<!-- ko if: sharedWithMe -->
			<span class="folder_shared_with_me_icon"></span>
			<!-- /ko -->
		</div>
		<div class="file_states">
			<!-- ko if: sharedWithOthers -->
			<span class="file_shared_icon" data-bind="click: function (oItem) { $root.onFileShareIconClick(oItem); }"></span>
			<!-- /ko -->
			<!-- ko if: published -->
			<span class="file_published_icon" data-bind="click: function (oItem) { $root.onShareIconClick(oItem); }"></span>
			<!-- /ko -->
		</div>
		<span class="name" data-bind="text: displayName()"></span>
		<div class="footer" data-bind="visible: isIncomplete">
			<span class="progress">
				<span data-bind="style: {'width': progressPercent() + '%'}"></span>
				<span class="progress-percent" data-bind="text: progressPercent() + '%'"></span>
			</span>
		</div>
		<div class="separator"></div>
	</div>
</div>
