<span class="content">
	<span class="search_block">
		<span class="input" data-bind="css: {'focus': isSearchFocused}">
			<span class="icon search" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SEARCH'}"></span>
			<input class="field" spellcheck="false" type="text" data-bind="hasfocus: isSearchFocused, value: newSearchPattern, onEnter: onSearch, valueUpdate: 'afterkeydown'" />
		</span>
	</span>
	<!-- ko template: { name: '%ModuleName%_DownloadButtonView'} --><!-- /ko -->
	<span class="item send_files command" data-bind="visible: bAllowSendEmails, command: sendCommand, customTooltip: '%MODULENAME%/ACTION_SEND_FILES'">
		<span class="icon"></span>
		<span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_SEND_FILES'}"></span>
	</span>
	<span class="item edit" data-bind="command: renameCommand, customTooltip: '%MODULENAME%/ACTION_RENAME'">
		<span class="icon"></span>
		<span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_RENAME'}"></span>
	</span>
	<span class="item publish" data-bind="visible: !isExternalStorage() && PublicLinksEnabled, command: createPublicLinkCommand, customTooltip: '%MODULENAME%/ACTION_CREATE_PUBLIC_LINK'">
		<span class="icon"></span>
		<span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_CREATE_PUBLIC_LINK'}"></span>
	</span>
	<span class="item delete" data-bind="command: deleteCommand, customTooltip: 'COREWEBCLIENT/ACTION_DELETE'">
		<span class="icon"></span>
		<span class="hint" data-bind="text: itemsToDeleteCount, visible: isDeleteAllowed()"></span>
		<span class="text" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_DELETE'}"></span>
	</span>
	<!-- ko foreach: addToolbarButtons -->
		<!-- ko template: { name: $data.ViewTemplate, data: $data} --><!-- /ko -->
	<!-- /ko -->
</span>
