<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link type="text/css" rel="stylesheet" href="./static/styles/themes/{{Theme}}/styles.css" />
	<style type="text/css">
		body {
			margin: 0px; padding: 20px 0; box-sizing: border-box;
		}
		.card {
			text-align: center;
			padding: 15px;
			max-width: 370px;
			margin: 0 auto;
			border-radius: 5px;
			box-shadow: 0 0 5px rgb(0 0 0 / 32%);
			background: #fff;
		}

		.card h2 {
			font-size: 18px; line-height: 1.4;
		}

		.card .status {
			font-size: 14px;
		}
	</style>
</head>
<body>
	<div class="card">
		<h2>{{EVENT_NAME}}</h2>
		<span>{{EVENT_BEGIN}} {{EVENT_DATE}}</span><br/>
		<span>{{EVENT_DESCRIPTION}}</span><br/>
		<span class="status" style="color: {{ACTION_COLOR}};">{{EVENT_ACTION}}</span><br/>
	</div>
</body>
</html>
