<div class="notifications list-block media-list">
    <ul>
		<li class="notification-item loading" data-bind="css: {'hide': loadingHidden()}">
			<div class="item-content">
				<div class="item-inner">
					<div class="item-title-row">
						<div class="item-title" data-bind="html: loadingMessage"></div>
					</div>
				</div>
			</div>
		</li>
		
		<li class="notification-item report" data-bind="css: {'hide': reportHidden()}">
			<div class="item-content">
				<div class="item-inner">
					<div class="item-title-row">
						<div class="item-title" data-bind="html: reportMessage"></div>
						<div class="item-after">
							<a href="#" class="close-notification" data-bind="visible: closeReportButtonVisible, click: hideReport">Close</a>
						</div>
					</div>
				</div>
			</div>
		</li>
		
		<li class="notification-item error" data-bind="css: {'hide': errorHidden(), 'gray': gray()}">
			<div class="item-content">
				<div class="item-inner">
					<div class="item-title-row">
						<div class="item-title" data-bind="html: errorMessage"></div>
						<div class="item-after">
							<a href="#" class="close-notification" data-bind="click: selfHideError">Close</a>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
