<div class="sharing_panel large" data-bind="css: {'media': isMedia()}">
	<div class="fields" data-bind="if: ExpireDateMessage">
		<div class="fieldset">
			<div class="row">
				<span data-bind="text: ExpireDateMessage"></span>
			</div>
		</div>
	</div>
	<div class="item file">
		<div class="item_content">
			<span class="data">
				<span class="icon"></span>
				<span class="name" data-bind="text: fileName"></span>
				<span class="size" data-bind="text: fileSize"></span>
			</span>
		</div>
	</div>
	<div class="fields">
		<div class="fieldset">
			<div class="row" data-bind="visible: koShowPassword">
				<span class="label" data-bind="text: passwordLabel"></span>
				<input autocomplete="new-password" type="password" class="value input" data-bind="value: password" />
			</div>
		</div>
	</div>
	<div class="video-container" data-bind="visible: bShowVideoPlayer()">
		<video
			id="video-player"
			class="video-js"
			controls
			width="640"
			autoplay
			data-setup="{}"
		>
		</video>
	</div>
	<div class="audio-container" data-bind="visible: bShowAudioPlayer()">
		<audio
			id="audio-player"
			class="video-js"
			controls
			autoplay
			data-setup="{}"
		>
		</audio>
	</div>
	<span class="buttons">
		<span class="button button-fill" data-bind="click: isDownloadingAndDecrypting() ? false : play,
			visible: bShowPlayButton() && !bShowVideoPlayer() && !bShowAudioPlayer(),
			css: {'disabled': isDownloadingAndDecrypting()},
			i18n: {'key': '%MODULENAME%/ACTION_PLAY'} "></span>
		<span class="button button-fill" data-bind="click: isDownloadingAndDecrypting() ? false : downloadAndDecryptFile, visible: isDecryptionAvailable(), css: {'disabled': isDownloadingAndDecrypting()}">
			<span data-bind="i18n: {'key':  '%MODULENAME%/ACTION_DOWNLOAD_AND_DECRYPT'}, visible: !isDownloadingAndDecrypting()"></span>
			<span data-bind="i18n: {'key':  '%MODULENAME%/ACTION_DOWNLOAD_AND_DECRYPT_IN_PROGRESS'}, visible: isDownloadingAndDecrypting()"></span>
		</span>
		<a class="button button-fill download" data-bind="attr: {href: fileUrl}, i18n: {'key':  'COREWEBCLIENT/ACTION_DOWNLOAD_FILE'}, visible: !bSecuredLink && !isUrlFile"></a>
		<span class="button button-fill" data-bind="click: securedLinkDownload,
			visible: bSecuredLink && !isUrlFile,
			i18n: {'key':  'COREWEBCLIENT/ACTION_DOWNLOAD_FILE'}">
		</span>
	</span>
</div>
