<div class="popup" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel import_pgp_key_popup">
		<span class="close" data-bind="click: cancelPopup"></span>
		<div class="popup_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_IMPORT_KEY'}"></div>

		<div class="content-block" data-bind="visible: !keysChecked()">
			<textarea class="input import_pgp_key_area" style="width: 100%"
					  data-bind="value: keyArmor, hasfocus: keyArmorFocused"
			></textarea>
		</div>

		<!-- ko if: keysChecked -->
			<!-- ko if: allowOnlyPublicKeyForEmail() === '' -->
				<!-- ko template: '%ModuleName%_ImportKeyPopup_StandardView' --><!-- /ko -->
			<!-- /ko -->
			<!-- ko if: allowOnlyPublicKeyForEmail() !== '' -->
				<!-- ko template: '%ModuleName%_ImportKeyPopup_ToContactsView' --><!-- /ko -->
			<!-- /ko -->
		<!-- /ko -->

		<div class="content-block">
			<p>
				<a href="#" class="button button-raised"
				   data-bind="i18n: {'key': '%MODULENAME%/ACTION_CHECK'},
				   click: checkArmor, visible: !keysChecked()"
				></a>
			</p>
			<p>
				<a href="#" class="button button-raised"
				   data-bind="i18n: {'key': '%MODULENAME%/ACTION_IMPORT_KEYS'},
				   click: importKey, visible: visibleImportKeysButton"
				></a>
			</p>
			<p>
				<a href="#" class="button button-raised"
				   data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CANCEL'},
				   click: cancelPopup"
				></a>
			</p>
		</div>
	</div>
	<span class="helper"></span>
</div>
