<div class="popup popup_schedule" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>
		<span class="popup_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_POPUP_SCHEDULE_SENDING'}"></span>

		<div class="fields">
			<div class="row">
				<div class="items_list simple_list">
					<!-- ko foreach: aOptions -->
					<div class="item account" data-bind="css: {'selected': $parent.scheduledTime() === Unix},
							click: function () { $parent.selectScheduledTime(Unix); }">
						<span class="title" data-bind="text: LeftLabel"></span>
						<span class="title title_right" data-bind="text: RightLabel"></span>
					</div>
					<!-- /ko -->
				</div>
			</div>
			<div class="row row_select_datetime row_select_datetime_hint">
				<span data-bind="i18n: {'key': '%MODULENAME%/LABEL_SELECT_DATE_AND_TIME'}"></span>
			</div>
			<div class="row row_select_datetime" style="display: flex;">
				<div style="white-space: nowrap; flex-grow: 1;">
					<input class="input input_date" type="text" spellcheck="false" readonly="readonly" data-bind="initDom: dateDom"/>
				</div>
				<div class="custom_selector" style="max-width: 100px;"
						data-bind="customSelect: {'control': false, 'selected': 'selected', 'input': true, 'options': timeOptions(), 'timeOptions': timeOptions, value: selectedTime, optionsText: 'text', optionsValue: 'value'}">
                    <input class="input input_time" spellcheck="false" type="text"
                           data-bind="value: selectedTime"/>
                    <span class="dropdown">
                        <span class="dropdown_helper">
                            <span class="dropdown_arrow"><span></span></span>
                            <span class="dropdown_content"></span>
                        </span>
                    </span>
                </div>
			</div>
			<div class="buttons">
				<span class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_SCHEDULE'}, command: scheduleCommand, visible: !scheduleInProcess()"></span>
				<span class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_SCHEDULE_IN_PROGRESS'}, visible: scheduleInProcess"></span>
				<span class="button secondary_button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CANCEL'}, click: cancelPopup, visible: !scheduleInProcess()"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
