<span class="link icon-only open-panel aurora-icons group mark" data-bind="dropdown: {}, css: {disabled: messageList().isEmptyList()}, visible: visibleMarkTool">
	<!--<span class="item" data-bind="command: markAsReadCommand">-->
		<!--<i class="icon"></i>-->
		<!--<span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_MARK_AS_READ'}"></span>-->
	<!--</span>-->
<!--	<span class="item control">
		<span class="icon arrow"></span>
		<span class="dropdown">
			<span class="dropdown_helper">
				<span class="dropdown_arrow"><span></span></span>
				<span class="dropdown_content">
					<span class="item allread" data-bind="command: markAllReadCommand, i18n: {'key': '%MODULENAME%/ACTION_MARK_ALL_READ'}"></span>
					<span class="item unread" data-bind="command: markAsUnreadCommand, i18n: {'key': '%MODULENAME%/ACTION_MARK_AS_UNREAD'}"></span>
				</span>
			</span>
		</span>
	</span>-->
</span>

<a href="javascript:void(0)" class="link icon-only open-panel aurora-icons delete" data-bind="command: deleteCommand" id="selenium_mail_delete_button">
	<i class="icon"></i>
	<!--<span class="hint" data-bind="text: selectedCount, visible: selectedCount() > 0"></span>-->
	<!--<span class="text" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_DELETE'}"></span>-->
</a>

<a href="javascript:void(0)" class="link icon-only open-panel aurora-icons spam" data-bind="command: spamCommand, visible: allowedSpamAction">
	<i class="icon"></i>
	<!--<span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_MARK_SPAM'}"></span>-->
</a>
<a href="javascript:void(0)" class="link icon-only open-panel aurora-icons notspam" data-bind="command: notSpamCommand, visible: allowedNotSpamAction">
	<i class="icon"></i>
	<!--<span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_MARK_NOT_SPAM'}"></span>-->
</a>