<a href="javascript:void(0)" class="link icon-only open-panel aurora-icons reply" data-bind="command: replyCommand, visible: isVisibleReplyTool">
	<i class="icon"></i>
	<!--<span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_REPLY'}"></span>-->
</a>
<a href="javascript:void(0)" class="link icon-only open-panel aurora-icons replyall" data-bind="command: replyAllCommand, visible: isVisibleReplyTool">
	<i class="icon"></i>
	<!--<span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_REPLY_TO_ALL'}"></span>-->
</a>

<a href="javascript:void(0)" class="link icon-only open-panel aurora-icons forward" data-bind="command: forwardCommand, visible: isVisibleForwardTool">
	<i class="icon"></i>
	<!--<span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_FORWARD'}"></span>-->
</a>

<a href="javascript:void(0)" class="link icon-only open-panel aurora-icons delete" data-bind="command: deleteCommand">
	<i class="icon"></i>
	<!--<span class="text" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_DELETE'}"></span>-->
</a>
