<div class="row" data-bind="
	 visible: isEditable() || dataHtml() !== '',
	 css: {'focused': dataFocus(), 'filled': dataHtml().length > 0}"
>
	<div class="value scrollable_field" data-bind="customScrollbar: {x: false}">
		<div class="scroll-inner">
			<label class="label placeholder"
				   data-bind="text: placeholderText,
				   click: function () { dataFocus(true); },
				   visible: isEditable()"
			></label>
			<span class="input" data-bind="html: dataHtml, visible: !isEditable()"></span>
			<div contenteditable="true" class="input autosize" data-bind="
				 autosize: {minHeight: 26, autosizeTrigger: autosizeTrigger, scrollableHeight: 150},
				 initDom: dataDom, valueUpdate: 'afterkeydown',
				 hasfocus: dataFocus, visible: isEditable()"
			></div>
		</div>
	</div>
</div>
